<app-menu-nav></app-menu-nav>
<app-carousel></app-carousel>
<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">

    <div class="col-2">

    </div>
    <div class="col-2">
      <app-cardpronto></app-cardpronto>
    </div>

    <div class="col-2">
      <app-cardpronto></app-cardpronto>
    </div>

    <div class="col-lg-2">
      <app-cardpronto></app-cardpronto>
    </div>

    <div class="col-2">
      <app-cardpronto></app-cardpronto>
    </div>

    <div class="col-lg-2">
      <app-cardpronto></app-cardpronto>
    </div>
  </div>
</div>