<div class="container card" style="width: 230px; height: 450px; display: flex;">
  <div style="display: flex; margin: 5px;"> <!--footer-->
    <app-footer-desconto style="margin-right:10px"></app-footer-desconto>
    <app-footer-unidades></app-footer-unidades>
  </div>
  <div>
    <app-image></app-image>
  </div>

  <div>
    <app-descricao></app-descricao>
  </div>



  <div style="align-items: flex-start;display: flex;">
    <app-price></app-price>
  </div>
  <div><app-comprar></app-comprar></div>
</div>